@import '../../global.scss';

.headerContainer{
    height: 120px;
    width: 100vw;
    position: fixed;
    top: -120px;
    z-index: 10;
    display: flex;
    align-items: center;
    // animation: headerFadeIn 0.5s forwards;
    // animation-delay: 3.25s;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
    .desktopHeader {
        display: flex;
        width: 100%;
        padding: 0 $page-padding-x-dl;
        justify-content: space-between;
        @media (min-width: $mobile) {
            padding: 0 $page-padding-x-m;
            display: none;
        }
        @media (min-width: $tablet-small) {
            padding: 0 $page-padding-x-ts;
            display: none;
        }
        @media (min-width: $tablet-large) {
            padding: 0 $page-padding-x-tl;
            display: flex;
        }
        @media (min-width: $desktop-small) {
            padding: 0 $page-padding-x-ds;
            display: flex;
        }
        @media (min-width: $desktop-large){
            padding: 0 $page-padding-x-dl;
            display: flex;
        }

        // background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        img {
            cursor: pointer;
        }
        nav {
            button:not(:last-child) {
                margin-right: 50px;
            }
            button {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                text-decoration: none;
                // color: white;
                color: white;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
            }
        }

    }

    .mobileHeader {
        display: none;
        padding: 0 $page-padding-x-m;
        width: 100%;
        justify-content: space-between;
        @media (min-width: $mobile) {
            display: flex;
            padding: 0 $page-padding-x-m;
        }
        @media (min-width: $tablet-small) {
            display: flex;
            padding: 0 $page-padding-x-ts;
        }
        @media (min-width: $tablet-large) {
            display: none;
            padding: 0 $page-padding-x-tl;
        }
        @media (min-width: $desktop-small) {
            display: none;
            padding: 0 $page-padding-x-ds;
        }
        @media (min-width: $desktop-large){
            display: none;
            padding: 0 $page-padding-x-dl;
        }

        img {
            cursor: pointer;
            width: 120px;
        }

        nav {
            position: absolute;
            top: 0;
            left: 100%;
            height: 100vh;
            width: 100vw;
            transition: all 0.25s;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button:not(:last-child) {
                margin-bottom: 40px;
            }
            button {
                text-decoration: none;
                color: black;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
            }
        }
    }

    .mobileOpen {
        .hamburger-react {
            div {
                background: black;
            }
        }
        nav {
            left: 0;
        }
    }
}

.showHeader {
    top: 0;
}

.noBackground {
    background: none;
}

.hasColor {
    .desktopHeader {
        nav {
            button {
                color: black;
            }
        }
    }
    .mobileOpen {
        .hamburger-react {
            div {
                background: black !important;
            }
        }
        nav {
            left: 0;
        }
    }
}

.noColor {
    .hamburger-react {
        z-index: 999;
        div {
            background: white !important;
        }
    }
}